<section class="footer">
    <div class="footer__info">
    <div class="wrapper-bg  wrapper-bg_advantages">
        <div class="content__wrapper">

    <div class="footer__wrapper">
    <div class="footer__img"><img src="img/footer/balloon.png" alt=""></div>
        <p class="footer__text">Служба поддержки клиентов работает в режиме 24/5. <br>
            Наши специалисты оперативно ответят на все ваши вопросы!</p>
        </div>
        </div>
    </div>
        <div class="content__wrapper">
        <p class="footer__the-best">компания х — лучшее х среди всех!</p>
        </div>
    </div>
</section>